# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.BookAPI.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Dulanga Kithmini\RiderProjects\BookAPI\.idea\.idea.BookAPI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
